@model Ben_Project_1.Models.OrderModel

@{
    ViewData["Title"] = "AddGames";
}

<h1>AddGames</h1>

<h4>Games</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGames">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NextOrderGame.GameId" class="control-label" id="DefaultStore"></label>
                <select asp-for="NextOrderGame.GameId"
                        asp-items="@(new SelectList(Model.Games, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="NextOrderGame.GameQuantity" class="control-label"></label>
                <input asp-for="NextOrderGame.GameQuantity" class="form-control" />
                <span asp-validation-for="NextOrderGame.GameQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOrderGame.Edition" class="control-label"></label>
                <select asp-for="NextOrderGame.Edition"
                        asp-items="@(new SelectList(Model.Editions, "Key", "Value"))" class="form-control"></select>
            </div>
                <!-- other non-hidden form fields -->
                @for (int i = 0; i < Model.OrderGames.Count; i++)
                {
                    @Html.HiddenFor(model => Model.OrderGames[i].OrderId)
                    @Html.HiddenFor(model => Model.OrderGames[i].GameId)
                    @Html.HiddenFor(model => Model.OrderGames[i].Edition)
                    @Html.HiddenFor(model => Model.OrderGames[i].GameQuantity)
                    @Html.HiddenFor(model => Model.OrderGames[i].Price)
                }
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>

        </form>
    </div>
    <div>
        <p><b>Standard Edition Prices:</b></p>

        @foreach (var item in Model.Games)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Cost)
                </dd>
            </dl>
        }

            <p><b>Advanced Edition Prices:</b></p>

        @foreach (var item in Model.Games)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.AdvancedCost)
                </dd>
            </dl>
        }

            <p><b>Deluxe Edition Prices are $10 more than the Advanced edition</b></p>
        

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
